ECE 2799 Rose Actuator Boards V2-backups/
~untitled.kicad_sch.lck
*.kicad_sch-bak
fp-info-cache
~ECE 2799 Rose Actuator Boards V2.kicad_sch.lck
Individual Board Projects/controlBoard/ControlBoard/ControlBoard-backups/ControlBoard-2025-11-24_204133.zip
Individual Board Projects/moduleBoard/ModuleBoard/ModuleBoard-backups/ModuleBoard-2025-11-24_204155.zip
Individual Board Projects/moduleBoard/ModuleBoard/~_autosave-ModuleBoard.kicad_pcb.lck
Individual Board Projects/interConnectBoard/InterConnect/InterConnect-backups/InterConnect-2025-11-24_223556.zip
*-backups/
~.lck
